<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	    <link rel="icon" href="/img/weather.png">

	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div class="main-content">
	{{>header}}
    <h1>{{error}}</h1>
	</div>

	{{>footer}}
</body>
</html>